# Challenge Data
__MACOSX/

# Output
candidate_ranker/output/

# Python Cache & Env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.cache/
.pytest_cache/

# IDE / VS Code
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Challenge Dataset and Large Files
*[PUB]*
*.jsonl
*.jsonl.gz
